<!doctype html>
<html lang="en">
  <head>

    <% if (albums.length == 1) { %>
      <% albums.forEach(albumObj => { %>
        <title><%= albumObj.shortname %> </title>

    <% }) %>

    <% } %>

    <% if (albums.length > 1) { %>
      <title>All Albums</title>
    <% } %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>


    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

        <% albums.forEach(albumObj => { %>

          <div class="row">

            <div class="col-2"></div>

            <div class="col d-flex justify-content-start" style="font-size:70px;">
              <%= albumObj.albumname %>
            </div>

          </div>

          <div class="row mt-3 mb-5">

            <div class="col-xl-2 d-flex justify-content-center" style="font-size:12px;">

              <% if (albums.length == 1) { %>

                <% for( let index = 0; index < tracks.length; index++ ) { %>

                  <%= tracks[index] %>
                  <br>

                <% } %>

              <% } %>

            </div>

            <div class="col-xl-2 d-flex justify-content-center">

              <!-- album cover -->

                <a href="/albums/<%=albumObj.shortname%>"><img src="/images/<%= albumObj.artwork %>"  alt=""></a>

              </div>


            <div class="col-xl-4  d-flex justify-content-center pt-3" style="font-size:16px;">
              <%= albumObj.summary %> 
            </div>

            <div class="col-xl-4">

              <% if (albums.length == 1) { %>

                <ul>
                  <li>

                    <a href="<%= albumObj.appleMusic %>" target="_blank" style="font-size:20px">
                      Apple Music
                    </a>
                  </li>

                  <li class="mt-5">
                    <a href="<%= albumObj.spotify %>" target="_blank" style="font-size:20px">
                      Spotify
                    </a>
                  </li>
                </ul>

                <br>

                
              <% } %>

            </div>

          </div> <!-- end of tracks, cover, links row -->



        <% }) %>

        <div class="row">

          <div class="col jumbotron2 d-none d-lg-block pl-0 pr-0 ml-0 mr-0" style="font-size: 70px;text-align: center;color:white; padding-top: 100px;font-family: 'Roboto', sans-serif;">

          </div><!-- jumbotron -->
        </div>


  </div> <!-- end container fluid -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/albums.js"></script>

  </body>
</html>